.login-wrapper {
  max-width: 400px;
  width: 400px;
  margin: 60px auto;
  padding: 50px 50px 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  vertical-align: middle;
}


@media(max-width: 767px) {

  .login-wrapper {
    max-width: 100%;
    width: auto;
    margin: 60px auto;
    max-width: none;
    box-shadow: none;
  }

}