
html, body, #root {
  background: #f0f2f5;
}

body {
  margin: 0;
}

.ant-table-default ::-webkit-scrollbar {/*滚动条整体样式*/
  width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 8px;
}
.ant-table-default ::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #8383836b;
}
.ant-table-default ::-webkit-scrollbar-track {/*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: #EDEDED;
}

.ant-table-scroll-position-left.ant-table-scroll-position-right ::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

.ant-table-fixed-right .ant-table-body-inner {
  overflow-x: hidden!important;
}

.ant-modal-mask {
  z-index: 2000!important;
}

.ant-modal-wrap {
  z-index: 2500!important;
}

.ant-form-inline .ant-form-item-with-help {
  margin-bottom: 0px!important;
}

.ant-message-notice, .ant-message {
  z-index: 3000;
}

.ant-calendar-picker-container {
  z-index: 1600;
}

.ant-drawer-top .ant-drawer-content-wrapper {
  height: 650px!important;
}

@media(max-width: 1024px) {
  .ant-drawer-top .ant-drawer-content-wrapper {
    height: 100%!important;
  }
}

.ant-table-title {
  padding: 8px 0;
}

.ant-tooltip {
  z-index: 3000;
}